#Suggested configs are prefixed w/ hashtag, remove it to start quickly
# 
#Configuration guide can be seen at docs/ directory inside BACKEND.md files

#Postgres main DB configs
POSTGRES_DB=#postgresdb
POSTGRES_USER=#postgresusr
POSTGRES_PASSWORD=#postgrespasswd


#
BCRYPT_ROUNDS=#12

#DB connection configs between HOST and CONTAINER (hardcoded at docker-compose for the moment)
DB_HOST=#localhost
DB_PORT=#5432


#Configuration between mock and sandbox database for tests
TEST_ENV=#mock
SANDBOX_CONNECTION_STRING=


#Logging configs
LOG_LEVEL=#DEBUG